:root {
  --primary-color: teal;
  --secondary-color: blue;
  --grey-color: rgb(53, 53, 53);
  --light-border-grey: rgb(231, 231, 231);
}
@font-face {
  font-family: "poppins-light";
  src: url("../assets/fonts/Poppins/Poppins-Light.ttf");
}
@font-face {
  font-family: "poppins-regular";
  src: url("../assets/fonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
  font-family: "poppins-medium";
  src: url("../assets/fonts/Poppins/Poppins-Medium.ttf");
}
@font-face {
  font-family: "poppins-bold";
  src: url("../assets/fonts/Poppins/Poppins-Bold.ttf");
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: none !important;
}

body {
  /* background-color: #f7dede; */
  margin: 0rem;
  padding: 0rem;
  font-family: poppins-regular;
  overflow-x: hidden;
}

button {
  padding: 0.35rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.mainTitle {
  font-size: 1.25rem !important;
  font-family: poppins-medium;
  text-align: center;
  margin: 1rem 0rem;
}

label {
  font-family: poppins-medium;
  font-size: 0.85rem;
  margin-bottom: 0.35rem;
}
.formControl {
  width: 100%;
  font-family: poppins;
  font-size: 0.75rem;
  color: var(--grey-color);
  padding: 0.25rem 0.75rem;
  border: 1px solid var(--light-border-grey);
  border-radius: 0.35rem;
  font-family: poppins-regular;
}
.noContentText {
  text-align: center;
  font-family: poppins-medium;
  margin: 1rem 0rem;
}
.badge {
  background-color: white;
  border-radius: 100%;
  width: 1rem;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -0.5rem;
  right: -1rem;
  color: teal;
  font-size: 0.6rem;
  font-family: poppins-bold;
}
